body {
    font-family: Arial, sans-serif;
}

header {
    background: url('heeeee.jpg');
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#orders {
    margin-top: 2rem;
}

#order-list {
    border: 1px solid #ddd;
    padding: 1rem;
}

/* จัดการโครงสร้างและสไตล์ของตาราง */
#orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#orders-table th,
#orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#orders-table th {
    background-color: goldenrod;
    color: white;
}

#orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#orders-table tr:hover {
    background-color: #ddd;
}

.update-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.update-button:hover {
    background-color: #45a049;
}